In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
# Importarcion librerias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.naive_bayes import GaussianNB

from sklearn.tree import DecisionTreeClassifier

## ***Preparar dataSet `application_record`***

In [ ]:
# Cargar dataSets Application_record & Credit_record
application= pd.read_csv('/content/drive/My Drive/9° Semestre/Colab Notebooks-UPTC/DataSets/dataSets-CreditCardApproval/application_record.csv', sep=',')
application.info()

In [ ]:
# Valores nulos en dataSet application

print("Numero Filas y Columnas dataSet application = ",application.shape)
print("Valores nulos en dataSet application: \n")
print(application.isnull().sum())

In [ ]:
# Ver valores en la NULOS(NaN) clase OCCUPATION_TYPE

#print(application.OCCUPATION_TYPE.value_counts(dropna=False))
print("\nValores nulos en la columna OCCUPATION_TYPE = ",application.OCCUPATION_TYPE.isnull().sum())

In [ ]:
# Eliminar filas con valores nulos(NaN) en la Colummna OCCUPATION_TYPE

print("Numero Filas y Columnas dataSet application= ",application.shape)
print("----> Elimando filas con valor NaN en atributo OCCUPATION_TYPE...")
application.drop(application[application.OCCUPATION_TYPE.isnull()].index, inplace = True)
print("Nuevo numero Filas y Columnas dataSet application= ",application.shape)

## ***Preparar dataSet `credit_record`***

In [ ]:
credit = pd.read_csv('/content/drive/My Drive/9° Semestre/Colab Notebooks-UPTC/DataSets/dataSets-CreditCardApproval/credit_record.csv', sep=',')
credit.info()

In [ ]:
print("Numero Filas y Columnas dataSet credit = ",credit.shape)
# Valores nulos en dataSet application
print("Valores nulos en dataSet credit:\n")
print(credit.isnull().sum())

In [ ]:
# Eliminar atributo(columna) MONTHS_BALANCE	
print("----> Eliminando atributo MONTHS_BALANCE dataSet credit...\n")
credit.drop(['MONTHS_BALANCE'],axis='columns',inplace=True)
credit.info()

In [81]:
print("Nuevo numero Filas y Columnas dataSet credit = ",credit.shape)
# Valores nulos en dataSet application
print("Valores nulos en dataSet credit:\n")
print(credit.isnull().sum())

Nuevo numero Filas y Columnas dataSet credit =  (45985, 1)
Valores nulos en dataSet credit:

STATUS    0
dtype: int64

In [ ]:
# Concatenando valores de atributo(Columna) STATUS por ID
credit = credit.groupby(credit['ID']).aggregate({'STATUS':'sum'})
credit.head(n=10)

## ***Unir dataSets `application_record` y `credit_record`***

In [ ]:
print("Numero Filas y Columnas dataSet application= ",application.shape)
print("Numero Filas y Columnas dataSet credit = ",credit.shape)

Numero Filas y Columnas dataSet application=  (304354, 18)
Numero Filas y Columnas dataSet credit =  (45985, 1)

In [ ]:
print("----> Uniendo dataSets application Y credit por Atributo(Columna) 'ID'...\n")
dataSet = pd.merge(application, credit, on='ID')
print(dataSet.info())

In [84]:
# Validar que no existen valores nulos en el dataSet
print("Numero Filas y Columnas dataSet = ",dataSet.shape)
print("Valores nulos en dataSet: \n")
print(dataSet.isnull().sum())

Numero Filas y Columnas dataSet =  (25134, 19)
Valores nulos en dataSet:

ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
STATUS                 0
dtype: int64