In [1]:
#Importar Librerias
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#Cargar DataSet
dataSet = pd.read_csv('https://raw.githubusercontent.com/JohamSMC/electiva4/master/dataSets/dataSet-Iris.txt',sep='\t', index_col=0)
dataSet

              sepal width  petal length  petal width           class
sepal length
5.1                   3.5           1.4          0.2     Iris-setosa
4.9                   3.0           1.4          0.2     Iris-setosa
4.7                   3.2           1.3          0.2     Iris-setosa
4.6                   3.1           1.5          0.2     Iris-setosa
5.0                   3.6           1.4          0.2     Iris-setosa
...                   ...           ...          ...             ...
6.7                   3.0           5.2          2.3  Iris-virginica
6.3                   2.5           5.0          1.9  Iris-virginica
6.5                   3.0           5.2          2.0  Iris-virginica
6.2                   3.4           5.4          2.3  Iris-virginica
5.9                   3.0           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

In [3]:
# Division Linear
train, test = train_test_split(dataSet, test_size = 0.20, shuffle = False)

In [4]:
print("Tamaño dataSet-train: ", len(train))
print("Tamaño dataSet-test: ", len(test))

Tamaño dataSet-train:  120
Tamaño dataSet-test:  30

In [5]:
# Division Aleatoria
trainA, testA = train_test_split(dataSet, test_size = 0.30)

In [6]:
print("Tamaño dataSet-train: ", len(trainA))
print("Tamaño dataSet-test: ", len(testA))

Tamaño dataSet-train:  105
Tamaño dataSet-test:  45