In [1]:
#Carga libreria
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

import pandas as pd
import numpy as np

In [2]:
# Cargar DataSet
dataSet = pd.read_csv('https://raw.githubusercontent.com/JohamSMC/electiva4/master/dataSets/dataSet-playGolf.txt',sep='\t')
dataSet.info()
dataSet.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Outlook             14 non-null     object
 1   TemperatureNumeric  14 non-null     int64
 2   TemperatureNominal  14 non-null     object
 3   HumidityNumeric     14 non-null     int64
 4   HumidityNominal     14 non-null     object
 5   Windy               14 non-null     bool
 6   Play                14 non-null     object
dtypes: bool(1), int64(2), object(4)
memory usage: 814.0+ bytes

    Outlook  TemperatureNumeric TemperatureNominal  ...  HumidityNominal  Windy  Play
0  overcast                  83                hot  ...             high  False   yes
1  overcast                  64               cool  ...           normal   True   yes
2  overcast                  72               mild  ...             high   True   yes
3  overcast                  81                hot  ...           normal  False   yes
4     rainy                  70               mild  ...             high  False   yes

[5 rows x 7 columns]

In [3]:
print(dataSet.Outlook.value_counts())
dataSet.head()

sunny       5
rainy       5
overcast    4
Name: Outlook, dtype: int64

    Outlook  TemperatureNumeric TemperatureNominal  ...  HumidityNominal  Windy  Play
0  overcast                  83                hot  ...             high  False   yes
1  overcast                  64               cool  ...           normal   True   yes
2  overcast                  72               mild  ...             high   True   yes
3  overcast                  81                hot  ...           normal  False   yes
4     rainy                  70               mild  ...             high  False   yes

[5 rows x 7 columns]

In [4]:
# Intercambiar los valores de Outlook de cualitativos a cuantitativos
dataSet.Outlook = dataSet.Outlook.replace({"sunny":0,"rainy":1,"overcast":2})
dataSet.head()

   Outlook  TemperatureNumeric TemperatureNominal  ...  HumidityNominal  Windy  Play
0        2                  83                hot  ...             high  False   yes
1        2                  64               cool  ...           normal   True   yes
2        2                  72               mild  ...             high   True   yes
3        2                  81                hot  ...           normal  False   yes
4        1                  70               mild  ...             high  False   yes

[5 rows x 7 columns]

In [5]:
""" X = np.array(dataSet.drop(['Play','Outlook','TemperatureNominal','HumidityNominal'],axis=1)) """
X = np.array(dataSet.drop(['Play','TemperatureNominal','HumidityNominal'],axis=1))
y = np.array(dataSet.Play)

In [6]:
print("Shape X: ",X.shape)
print("Shape y: ",y.shape)

Shape X:  (14, 4)
Shape y:  (14,)

In [7]:
# Split del DataSet
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=0)

In [8]:
# Naive Bayes
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [9]:
# Resultados

#print("Numbero de observaciones mal etiquetadas del total de %d observaciones : %d" %(X_test.shape[0], (y_test != y_pred).sum()))
print("Numero de datos en test:",X_test.shape[0])
print("Numero de aciertos:",metrics.accuracy_score(y_test,y_pred,normalize=False))
print("Numero de desaciertos:",(y_test != y_pred).sum())
print("Exactitud(Accuracy):",metrics.accuracy_score(y_test,y_pred))

# Matriz de Confución
print("\n\t---Matriz de Confución---")
# print(metrics.confusion_matrix(y_test,y_pred))
VN,FP,FN,VP = metrics.confusion_matrix(y_test,y_pred).ravel()
print("VN \t FP")
print(VN," \t ",FP)
print("FN \t VP")
print(FN," \t ",VP)

Numero de datos en test: 12
Numero de aciertos: 7
Numero de desaciertos: 5
Exactitud(Accuracy): 0.5833333333333334

	---Matriz de Confución---
VN 	 FP
0  	  5
FN 	 VP
0  	  7