In [ ]:
# Importarcion librerias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.naive_bayes import GaussianNB

from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Cargar dataSet con limpieza de datos de Knime
dataSet = pd.read_csv('/content/drive/My Drive/9° Semestre/Colab Notebooks-UPTC/DataSets/dataSet-horse-colic-Knime.csv', sep=',', na_values=['?'])
dataSet

     Age  rectal_temperature  ...  outcome  surgical_lesion
0      1                38.5  ...        2                2
1      1                39.2  ...        2                2
2      1                38.3  ...        1                2
3      9                39.1  ...        2                1
4      1                37.3  ...        2                2
..   ...                 ...  ...      ...              ...
295    1                38.0  ...        2                2
296    1                37.2  ...        2                1
297    1                37.5  ...        2                1
298    1                36.5  ...        1                1
299    1                37.2  ...        2                2

[300 rows x 22 columns]

In [ ]:
# Cargar dataSet con limpieza de datos de Knime y SMOTE
#dataSet = pd.read_csv('https://raw.githubusercontent.com/JohamSMC/electiva4/master/dataSets/dataSet-horse-colic-KnimeSMOTE.csv', sep=',', na_values=['?'])
#dataSet

In [ ]:
# Se separa el atributo objetivo(target) en "y" y los demas atributos en "X"
X = dataSet.drop(['outcome'],axis=1)
y = dataSet['outcome']

In [ ]:
# Definir semilla y tamaño del conjuto de prueba
seed =123
test_size=0.2

# **Splitting Data**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = test_size, random_state = seed)

# **Árbol de decisión**

In [ ]:
clf = DecisionTreeClassifier(criterion="entropy")
#clf = DecisionTreeClassifier(criterion="gini")
# Entrenar Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predecir la respuesta para el conjunto de datos de prueba
y_pred = clf.predict(X_test)

In [ ]:
# Profundidad del arbol de decisión.
print("Score Arbol: ",clf.score(X_test,y_test))
print("Max Depth del arbol: ",clf.tree_.max_depth)

Score Arbol:  0.7
Max Depth del arbol:  19

In [ ]:
# Resultados

#print("Numbero de observaciones mal etiquetadas del total de %d observaciones : %d" %(X_test.shape[0], (y_test != y_pred).sum()))
print("Numero de datos en test:",X_test.shape[0])
print("Numero de aciertos:",metrics.accuracy_score(y_test,y_pred,normalize=False))
print("Numero de desaciertos:",(y_test != y_pred).sum())
print("Exactitud(Accuracy):",metrics.accuracy_score(y_test,y_pred))

# Matriz de Confución
print("\n\t---Matriz de Confución Árbol de decisión---")
# print(metrics.confusion_matrix(y_test,y_pred))
VN,FP,FN,VP = metrics.confusion_matrix(y_test,y_pred).ravel()
print("VN \t FP")
print(VN," \t ",FP)
print("FN \t VP")
print(FN," \t ",VP)

Numero de datos en test: 60
Numero de aciertos: 42
Numero de desaciertos: 18
Exactitud(Accuracy): 0.7

	---Matriz de Confución Árbol de decisión---
VN 	 FP
30  	  9
FN 	 VP
9  	  12

## **Validacion Cruzada**

In [ ]:
# Importarcion librerias
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

### ***KF***

In [ ]:
kf = KFold(n_splits=5)
scores_cross = cross_val_score(clf, X, y, cv = 5)

#Scores
print("Accuracy with Splitting:",metrics.accuracy_score(y_test,y_pred))
print("Accuracies with Cross Validation KF: ", scores_cross)
print("Accuracy mean with Cross Validation KF: ", scores_cross.mean())

Accuracy with Splitting: 0.7
Accuracies with Cross Validation KF:  [0.73333333 0.7        0.81666667 0.61666667 0.65      ]
Accuracy mean with Cross Validation KF:  0.7033333333333334

### ***SKF***

In [ ]:
skf = StratifiedKFold(n_splits=5)
scores_cross = cross_val_score(clf, X, y, cv = skf)

#Scores
print("Accuracy with Splitting:",metrics.accuracy_score(y_test,y_pred))
print("Accuracies with Cross Validation SKF: ", scores_cross)
print("Accuracy mean with Cross Validation SKF: ", scores_cross.mean())

Accuracy with Splitting: 0.7
Accuracies with Cross Validation SKF:  [0.73333333 0.71666667 0.83333333 0.61666667 0.65      ]
Accuracy mean with Cross Validation SKF:  0.71